@font-face {
    font-family: 'Valorant';
    src: url("../assets/fonts/Valorant_Font.woff") format("woff");
}

@keyframes glow {
    0% {
        box-shadow: 0 0px 30px rgba(255, 255, 255, 0.768);
    }

    50% {
        box-shadow: 0 0px 10px rgba(255, 255, 255, 0.768);
    }

    
    100% {
        box-shadow: 0 0px 30px rgba(255, 255, 255, 0.768);
    }
}

body {
    background-color: black;
    font-family: 'Valorant', sans-serif;
    color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - calc(min(5vh, 5vw) * 2));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vh min(5vh, 5vw);
}

a {
    text-decoration: none;
    color: white;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: min(10vw, 10vh);
    font-size: 1rem;
}

.options > a:hover {
    cursor: pointer;
    color: #FF4655;
    font-size: 1.2rem !important;
    transition: 500ms;
}

.options > a {
    transition: 500ms;
}

.emphasized {
    color: #FF4655 !important;
    font-size: 1rem;
}

#valoImg {
    width: min(10vw, 10vh);
}




main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.banner {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;
    margin: 3vh;
    justify-content: center;
    align-items: center;
}

.randomButton {
    cursor: pointer;

    position: absolute;
    bottom: 3vh;
    background-color: #FF4655;
    padding: 1vh 1.5vw 0.4vh;
    border-radius: 5vw;
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.banner > img {
    height: 50vh;
}

.chosen {
    box-shadow: 0 0 50px #FF4655;
    transition: 1s;
}

.chosen::after {
    content: "NAME";
    color: white;
    margin-left: 50vw;
}

.icons {
    display: grid;
    grid-template-columns: repeat(9, min(10vh, 10vw));
    grid-auto-rows: min(10vh, 10vw);
    justify-content: center;
    justify-content: center;
    /* gap: 1px; */
}

.exempted {
    /* outline: 1px solid rgb(255, 0, 0); */
    background-color: rgba(255, 0, 0, 0.33);
}

.iconBox {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.iconBox > img {
    position: absolute;
    width: min(10vh, 10vw);
}

.iconBox:hover {
    cursor: pointer;
    border: 3px solid #FF4655;
}

.iconFilter {
    position: absolute;
    width: 70%;
    height: 100%;
    z-index: 1;
}

.highlight {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.65);
}

.iconBox:hover > .iconFilter{
    background-color: #f2626e;
}

.exempted > .iconFilter {
    background-color: red !important;
}

footer {
    color: white;
    font-family: sans-serif;
    font-weight: 1000;
    font-size: 1.2vh;
    position: fixed;
    bottom: 2vh;
    left: 50%;
    transform: translate(-50%, 0%);
}