@font-face {
    font-family: 'Valorant';
    src: url("../assets/fonts/Valorant_Font.woff") format("woff");
}

body {
    background-color: black;
    font-family: 'Valorant', sans-serif;
    color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - calc(min(5vh, 5vw) * 2));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vh min(5vh, 5vw);
}

a {
    text-decoration: none;
    color: white;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: min(10vw, 10vh);
    font-size: 1rem;
}

.options > a:hover {
    cursor: pointer;
    color: #FF4655;
    font-size: 1.2rem !important;
    transition: 500ms;
}

.options > a {
    transition: 500ms;
}

.emphasized {
    color: #FF4655 !important;
    font-size: 1rem;
}

#valoImg {
    width: min(10vw, 10vh);
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    display: grid;
    grid-template-columns: repeat(8, min(10vh, 10vw));
    grid-auto-rows: min(10vh, 10vw);
    justify-content: center;
    justify-content: center;
    /* gap: 1px; */
}

.exempted {
    /* outline: 1px solid rgb(255, 0, 0); */
    background-color: red;
}

.iconBox {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.iconBox > img {
    position: absolute;
    width: min(10vh, 10vw);
}

.iconBox:hover {
    cursor: pointer;
    border: 2px solid white;
}

.iconFilter {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.iconFilter:hover {
    background-color: rgba(0, 0, 0, 0.535);
}

.exempted > .iconFilter {
    background-color: #ff465671;
}

footer {
    color: white;
    font-family: sans-serif;
    font-weight: 1000;
    font-size: 1.2vh;
    position: fixed;
    bottom: 2vh;
    left: 50%;
    transform: translate(-50%, 0%);
}